<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="container">
  <h1>Connexion</h1>
  <ion-item>
    <ion-label position="floating">Courriel</ion-label>
    <ion-input type="email" placeholder="email@exemple.fr"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-button shape="round" (click)="connect()">Se connecter</ion-button>
  <ion-button shape="round" [routerLink]="['/register']">S'enregistrer</ion-button>
  <ion-button shape="round">Continuer en tant qu'invité</ion-button>
</div>
</ion-content>
