<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Bonjour {{ user.alias }}</h1>
  <h2>Vos ressources recommandées</h2>
  <swiper-container>
    <swiper-slide *ngFor="let n of numbers">
      <ion-card>
        <h1>Ressource {{ n }}</h1>
      </ion-card>
    </swiper-slide>
  </swiper-container>
  <h2>Vos ressources suivies</h2>
  <ion-content class="ion-padding">
    <ion-card *ngFor="let n of numbers">
      <h1>Ressource {{ n }}</h1>
    </ion-card>
  </ion-content>
</ion-content>