<ion-header>
  <ion-toolbar>
    <ion-title>Créer une nouvelle ressource</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label for="title" position="floating">Titre</ion-label>
        <ion-input type="text" placeholder="Ma nouvelle ressource" formControlName="title"></ion-input>
        <span slot="error" *ngIf="titleRequired && (this.createForm.value.title == '')">Le titre est obligatoire</span>
      </ion-item>
      <ion-item>
        <ion-label for="type" position="floating">Type</ion-label>
        <ion-select placeholder="Type" (ionChange)="typeChange($event)">
          <ion-select-option value="Activité">Activité</ion-select-option>
          <ion-select-option value="Article">Article</ion-select-option>
          <ion-select-option value="Défi">Défi</ion-select-option>
          <ion-select-option value="Vidéo">Vidéo</ion-select-option>
          <ion-select-option value="Exercice">Exercice</ion-select-option>
          <ion-select-option value="Cours">Cours</ion-select-option>
          <ion-select-option value="Jeu en ligne">Jeu en ligne</ion-select-option>
          <ion-select-option value="Fiche lecture">Fiche lecture</ion-select-option>
          <ion-select-option value="course">Cours</ion-select-option>
        </ion-select>
        <span class="inputError" *ngIf="typeRequired && (this.createForm.value.type == '')">Le type est
          obligatoire</span>
      </ion-item>
      <h4>Contenu</h4>
      <quill-editor formControlName="content"></quill-editor>
      <span class="inputError" *ngIf="contentRequired && (this.createForm.value.content == '')">Le contenu est
        obligatoire</span>
      <ion-button (click)="imagePick()">Choisir une image d'illustration</ion-button>
      <ion-button shape="round" type="submit">Créer ma ressource</ion-button>
    </form>
  </div>
</ion-content>