<ion-header>
  <ion-toolbar>
    <ion-title>Créer une nouvelle ressource</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label for="title" position="floating">Titre</ion-label>
        <ion-input type="text" placeholder="Ma nouvelle ressource" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="type" position="floating">Type</ion-label>
        <ion-select placeholder="Type" (ionChange)="typeChange($event)">
          <ion-select-option value="Activité">Activité</ion-select-option>
          <ion-select-option value="Article">Article</ion-select-option>
          <ion-select-option value="Défi">Défi</ion-select-option>
          <ion-select-option value="Vidéo">Vidéo</ion-select-option>
          <ion-select-option value="Exercice">Exercice</ion-select-option>
          <ion-select-option value="Cours">Cours</ion-select-option>
          <ion-select-option value="Jeu en ligne">Jeu en ligne</ion-select-option>
          <ion-select-option value="Fiche lecture">Fiche lecture</ion-select-option>
          <ion-select-option value="course">Cours</ion-select-option>
        </ion-select>
      </ion-item>
      <h4>Contenu</h4>
      <quill-editor (onContentChanged)="onEditorChange()" formControlName="content"></quill-editor>
      <ion-button (click)="imagePick()">Choisir une image d'illustration</ion-button>
      <ion-button shape="round" type="submit">Créer ma ressource</ion-button>
    </form>
  </div>
</ion-content>