<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" text=""></ion-back-button>
    </ion-buttons>
    <p id="headerTitle">{{ ressource['titre'] }}</p>
    <p class="headerText">{{ ressource['type'] }}</p>
    <p class="headerText" style="margin-bottom: 2%;">Créé par {{ ressource['createur'] }} le {{
      ressource['dateCreation'] }}</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div [innerHtml]="ressource.contenu" id="content"></div>
  </div>
  <app-comments />
</ion-content>