<ion-header>
  <ion-toolbar>
    <ion-title>Mon profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img alt="Profile picture" src={{user.profile_picture}} />
    <h1>{{ user.alias }}</h1>
    <ion-button class="listBtn" fill="clear" [routerLink]="['/param']">
      <ion-icon slot="start" name="cog"></ion-icon>
      Mes paramètres
    </ion-button>
    <ion-button id="disconnectBtn" shape="round" (click)="disconnect()">Se déconnecter</ion-button>

  </div>
</ion-content>