<ion-header>
  <ion-toolbar>
    <ion-title>Recherche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-searchbar animated="true" placeholder="Chercher" color="light" id="searchBar"
      (ionChange)="search($event)"></ion-searchbar>
    <ion-content class="ion-padding">
      <ion-card *ngFor="let ressource of ressources" class="ressourceCard" (click)="getRessourceDetail(ressource)">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>{{ ressource['titre'] }}</ion-card-title>
          <ion-card-subtitle>{{ ressource['type'] }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-content>
  </div>
</ion-content>