<ion-header>
  <ion-toolbar>
    <ion-title>Recherche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-searchbar animated="true" placeholder="Chercher" color="light" id="searchBar"
      (ionChange)="search($event)"></ion-searchbar>
    <div class="cards-container">
      <ion-card *ngFor="let ressource of ressources" class="ressource-card" (click)="getRessourceDetail(ressource)">
        <img *ngIf="ressource['imgPath'] != false" alt="Image d'illustration de la ressource"
          src="{{ ressource['imgPath'] }}" />
        <img *ngIf="ressource['imgPath'] == false" alt="Image d'illustration de la ressource par défaut"
          src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>{{ ressource['titre'] }}</ion-card-title>
          <ion-card-subtitle>{{ ressource['type'] }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>