<ion-header>
  <ion-toolbar>
    <ion-title>S'enregistrer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="container">
  <h1>S'enregistrer</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label for="mail" position="floating">Courriel</ion-label>
      <ion-input type="email" placeholder="email@exemple.fr"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label for="alias" position="floating">Pseudo</ion-label>
      <ion-input type="text" placeholder="Michel008"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label for="lastName" position="floating">Nom</ion-label>
      <ion-input type="text" placeholder="Dupont"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label for="firstName" position="floating">Prénom</ion-label>
      <ion-input type="text" placeholder="Jean"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label for="password" position="floating">Mot de passe</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button shape="round" type="submit">Créer mon compte</ion-button>
  </form>
</div>
</ion-content>
